* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*moible first*/
/*grid*/
body {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.013em;
}
h1 {
  color: #515f6d;
  font-weight: 700;
  font-size: 40px;
}
h2 {
  margin-bottom: 20px;
  color: #515f6d;
  font-weight: 400;
  font-size: 22px;
}

.grid-container {
  display: block;
  grid-template-areas:
    "header"
    "introduction"
    "breadcrumbs"
    "phases"
    "animations"
    "footer";
  grid-row-gap: 0px;
}

.header {
  grid-area: header;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/high-five-scaled.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header h1,
h2 {
  color: #fff;
}
.menu {
  z-index: 999;
  position: fixed;
  right: 0;
  margin: 40px 40px 0 0;
}

.introduction {
  grid-area: introduction;
  height: 100vh;
  display: flex;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.introduction-container{
  padding: 60px;
  grid-area: introduction;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 50%;
}
.introduction-text{
  width: 70%;
}
.introduction-text h1{
  margin-bottom: 30px;
}
.hidden {
  display: none;
}
button {
  width: 140px;
  text-align: center;
  padding: 15px;
  border: 3px solid white;
  transition: 300ms background-color;
  color: white;
  background-color: transparent;
  font-family: roboto-mono, monospace;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  outline: none;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  bottom: 10%;
}
#nextBtn {
  right: 30%;
}
#previousBtn {
  left: 30%;
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: #a5bb75;
}
button:disabled {
  display: none;
}

.phase-container {
  grid-area: breadcrumbs;
  max-width: 700px;
  height: 15vh;
}



#stepProgressBar {
  display: flex;
  width: 600px;
  margin: 0;
  margin-bottom: 40px;
  padding: 50px;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
}
.step {
  text-align: center;
}
.bullet {
  height: 25;
  width: 30px;
  border-bottom: 6px solid #9c9c9c;
  color: #9c9c9c;
  font-family: roboto-mono, monospace;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
  display: inline-block;
  position: relative;
  transform: background-color 500ms;
  line-height: 30px;
}

.bullet.completed {
  border-bottom: 6px solid #13798b;
}

.green.completed {
  border-bottom: 6px solid #a5bb75;
}
.orange.completed {
  border-bottom: 6px solid #d8a55a;
}

.purple.completed {
  border-bottom: 6px solid #aa81ac;
}
.blue.completed {
  border-bottom: 6px solid #6696ac;
}
.red.completed {
  border-bottom: 6px solid #d7734a;
}

.bg-green {
  background-color: #a5bb75;
}
.bg-orange {
  background-color: #d8a55a;
}

.bg-purple {
  background-color: #aa81ac;
}
.bg-blue {
  background-color: #6696ac;
}
.bg-red {
  background-color: #d7734a;
}

.phases {
  grid-area: phases;
  height: 85vh;
  display: flex;
  position: relative;
  background: purple;
}
.phases h1{
  color: #fff;
  text-align: right;
  font-size: 60px;
  margin: 60px 60px 0 0;
}
.phases h2{
  color: #fff;
  text-align: right;
  font-size: 30px;
  margin-right: 60px;
  font-weight: 800;
}
.phases p{
  color: #fff;
  margin: 60px;
  text-align: left;
}


.slides {
  grid-area: phases;
  display: none;
  height: 85vh;
  width: 100%;
  text-align: center;
}

.animations {
  grid-area: animations;
  background-color: wheat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  grid-area: footer;
}
.footer img {
  width: 100%;
  height: auto;
}

/*tablet size*/
@media screen and (min-width: 768px) {
  /*grid*/
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "introduction introduction"
      "breadcrumbs breadcrumbs"
      "phases animations"
      "phases animations"
      "footer footer";
    grid-row-gap: 0px;
  }
}

/*desktop size*/

@media screen and (min-width: 1024px) {
  /*grid desktop*/
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "introduction introduction"
      "breadcrumbs breadcrumbs"
      "phases animations"
      "phases animations"
      "footer footer";
    grid-row-gap: 0px;
  }
  .breadcrumbs ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
  }

  .crumb-link {
    vertical-align: middle;
  }
}
